<footer>
<div class="container">
    <div class="even-columns">
        <div class="logo-impressum-container align-items-center">
            <a class="logo-2" routerLink="">Ilja GG</a>
            <a class="impressum" routerLink="/impressum">Impressum</a>
        </div>
        <div class="align-items-center"><span>© Ilja Gaus-Gerbeth 2023</span></div>
        <div class="social-media-container">
            <div class="social-media-container-img">
                <img src="../../assets/img/git.png" alt="">
                <img src="../../assets/img/mail.png" alt="">
                <img src="../../assets/img/linkedin.png" alt="">
            </div>
        </div>
    </div>
</div>
</footer>