<footer class="padding-block-big">
<div class="container">
    <div class="even-columns">
        <div><a href="#">Ilja GG</a></div>
        <div><span>© Ilja Gaus-Gerbeth 2023</span></div>
        <div class="social-media-container">
            <div class="social-media-container-img">
                <img src="../../assets/img/git.png" alt="">
                <img src="../../assets/img/mail.png" alt="">
                <img src="../../assets/img/linkedin.png" alt="">
            </div>
        </div>
    </div>
</div>
</footer>