<section class="padding-block-big"> 
    
    <div class="container">
        <div class="even-columns">
            <div class="about-me-content">
                <h1 class="fs-primary-heading fw-bold">About me</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cupiditate nobis beatae, illo a
                    blanditiis placeat aperiam velit distinctio atque hic error
                    iure libero delectus pariatur dolore aliquam officia voluptatem?
                </p>
                <div class="img-p-container">
                    <div class="img-container">
                        <img src="../../assets/img/lamp.png" alt="">
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="img-p-container">
                    <div class="img-container">
                        <img src="../../assets/img/puzzle.png" alt="">
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="portrait-container">
                <img class="portrait-bg" src="../../assets/img/red-orange-shadow.png" alt="">
                <img class="portrait" src="../../assets/img/ilja-bewerbung.png" alt="">
                
            </div>
        </div>
        <img class="bg-bow" src="../../assets/img/bg-element.png" alt="">
    </div>
</section>