.img-p-container {
    display: flex;
    align-items: center;
    img {
        height: 60px;
        object-fit: cover;
    }
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    width: 180px;
    height: 100px;
}

.about-me-content {
   
}

.portrait-container {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: visible;

}

.portrait {
    position: absolute;
    top: -28px;
    max-width: 500px;
    object-fit: cover;
}

.portrait-bg {
    max-width: 700px;
}

.bg-bow {
    position: absolute;
    top: 475px;
    left: -80px;
    min-width: 100vw;
}


