.img-p-container {
    display: flex;
    align-items: center;
    img {
        height: 60px;
        object-fit: cover;
    }
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    min-width: 80px;
    min-height: 80px;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

.portrait-container {
    display: flex;
    max-width: 40vw;
    justify-content: center;
    position: relative;
    overflow: visible;
}

.portrait {
    position: absolute;
    top: 0px;
    max-width: 400px;
    object-fit: cover;
}

.portrait-bg {
    max-width: 700px;
}

.bg-bow {
    position: absolute;
    top: 341px;
    left: -786px;
    min-width: 120vw;
    object-fit: cover;
    object-position: top right;
}


