<section class="padding-top"> 
    
    <div class="container">
        <div class="even-columns">
            <div class="about-me-content">
                <h1>About me</h1>
                <p>
                    Hello, my name is Ilja. I'm a Jr. Front-End Developer based in Erfurt, Germany. In my current Job as an Art Director, I had success as a creative mind and team leader. But something was missing. I helped my company to deliver visually appealing content for online shops, but never understood the tech behind those Web Applications. That's why I began to study Web Development at Developer Akademie in Munich. 
                </p>
                <div class="img-p-container">
                    <div class="img-container">
                        <img src="../../assets/img/lamp.png" alt="">
                    </div>

                    <p>
                        I enjoy bringing ideas to life, planning carefully, write clean code and good documentation. Working in a team is also a lot of fun, and I am always open to agile working methods.
                    </p>
                </div>
                <div class="img-p-container">
                    <div class="img-container">
                        <img src="../../assets/img/puzzle.png" alt="">
                    </div>

                    <p>
                        After completing my retraining, I am very excited to start a brand new career as a developer and continue to grow professionally! If you think I'd be a good match for your company, feel free to contact me! 
                    </p>
                </div>
            </div>
            <div class="portrait-container">
                <img class="portrait-bg" src="../../assets/img/red-orange-shadow.png" alt="">
                <img class="portrait" src="../../assets/img/ilja-bewerbung.png" alt="">
            </div>
        </div>
        
    </div>
    
    <div class="bg-bow-container">
        <img class="bg-bow" src="../../assets/img/bg-element.png" alt="">
    </div>
    
</section>