<section class="overflow-hidden">
    <div class="container">
        <img class="red-shadow-2" src="../../assets/img/red-shadow-2.png" alt="">
        <div class="contact-h1-wrapper">
            <h1>Contact</h1>
        </div>
        <div class="even-columns">
            <div class="contact-content">
                <div class="contact-h2-wrapper">
                    <h2>Got a problem to solve?</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Architecto, autem incidunt!
                </p>
                <p>Need a Frontend Developer? Contact me!</p>
            </div>
            <div class="contact-input">
                <input type="text" placeholder="Your name">
                <input type="email" placeholder="Your email">
                <textarea placeholder="Your message ..."></textarea>
                <button class="main-button">Send message :)</button>
            </div>
        </div>
    </div>
</section>