<section class="padding-block-big">
    <div class="container">
        <div class="headline-container">
            <h1 class="fs-primary-heading fw-bold">Contact</h1>
        </div>
        <div class="even-columns">
            <div class="contact-content">
                <h2 class="fs-secondary-headline fw-bold">Got a problem to solve?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Architecto, autem incidunt!
                </p>
                <p>Need a Frontend Developer? Contact me!</p>
            </div>
            <div class="contact-input">
                <input type="text" placeholder="Your name">
                <input type="email" placeholder="Your email">
                <textarea placeholder="Your message ..."></textarea>
                <button class="button">Send message :)</button>
            </div>
        </div>
    </div>
</section>