<header class="primary-header">
    <div class="menu-container">
        <div class="nav-wrapper">
            <a class="logo" href="#">Ilja GG</a>

            <nav class="primary-navigation" id="primary-navigation">
                <ul class="nav-list">
                    <li><a href="#">About me</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#">Portfolio</a></li>
                </ul>
            </nav>
            <button class="hamburger">
                <div class="bar"></div>
            </button>
        </div>
    </div>
    <nav class="mobile-nav">
        <ul role="list" class="mobile-nav-list">
            <li><a href="#">About me</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>