.red-shadow {
    position: absolute;
    top: -142px;
    left: -400px;
}

.purple-shadow {
    position: absolute;
    top: -201px;
    right: -549px;
}

.primary-text {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.primary-text-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 172px;
    margin-bottom: 172px;
}

.i-am-container {
    display: flex;
    justify-content: center;
    height: fit-content;
    font-size: clamp(16px, 7vw, 90px);
    font-weight: var(--fw-regular);
    transform: rotate(180deg);
    margin-bottom: 10px;
    span {
        white-space: nowrap;
        letter-spacing: -5px;
        writing-mode: vertical-lr;
    }
}


.sub-headline-container {
    display: flex;
    flex-direction: column;
    line-height: 101px;
    margin-right: 20px;

    .main-headline {
        white-space: nowrap;
        font-size: clamp(16px, 7vw, 98px);
        font-weight: var(--fw-bold);
    }

    .sec-headline {
        white-space: nowrap;
        font-size: clamp(16px, 5vw, 64px);
        font-weight: var(--fw-regular);
        color: var(--mainRed);
    }
}

.scroll-down-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    font-size: 23px;
    right: 0;
    bottom: 10px;
    transform: rotate(90deg);

    span {
        font-size: var(--fs-nav);
    }

    img {
        margin-left: 18px;
        transform: rotate(-90deg);
        height: 16px;
        width: 16px;
        object-fit: cover;
    }
}


.social-media-container {
    display: flex;
    position: absolute;
    left: -10vw;
    bottom: 0px;

    img {
        width: 35px;
        object-fit: cover;
        transition: 300ms;
        margin-left: 42px;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }


    &.social-media-container::before {
        display: block;
        content: '';
        width: 180px;
        height: 5px;
        background-color: var(--mainOrange);
        align-self: center;
    }
}