<div class="background-color">
    <img class="bg-img-1" src="../../assets/img/red-shadow.png">
    <img class="bg-img-2" src="../../assets/img/purple-shadow.png">
    <div class="headline-container">
        <h2>I am</h2>
        <div class="sub-headline-container">
            <h1>Ilja Gaus-Gerbeth</h1>
            <h3>FRONTEND DEVELOPER</h3>
        </div>
    </div>
    <button>Let's talk!</button>
    <div class="scroll-down-container">
        <span class="scroll-down">Scroll down</span>
        <img src="../../assets/img/arrow-down.png">
    </div>

    <div class="social-media-container">
        <div class="orange-border"></div>
        <div class="social-media-container-img">
            <img src="../../assets/img/git.png" alt="">
            <img src="../../assets/img/mail.png" alt="">
            <img src="../../assets/img/linkedin.png" alt="">
        </div>
    </div>


</div>