<section class="padding-block-big">
    <div class="container">
        <img class="red-shadow" src="../../assets/img/red-shadow.png" alt="">
        <img  class= "purple-shadow" src="../../assets/img/purple-shadow.png" alt="">
        <div class="primary-text-btn-container">
            <div class="primary-text">
                <div class="i-am-container">
                    <h2 class="fs-large">I am</h2>
                </div>
                <div class="sub-headline-container">
                    <h1 class="fs-primary-heading fw-bold ">Ilja Gaus-Gerbeth</h1>
                    <h3 class="fs-headline">FRONTEND DEVELOPER</h3>
                </div>
            </div>

            <button class="button">Let's talk!</button>
        </div>
        <div class="scroll-down-container">
            <span class="scroll-down">Scroll down</span>
            <img src="../../assets/img/arrow-down.png">
        </div>
        <div class="social-media-container-img">
            <img src="../../assets/img/git.png" alt="">
            <img src="../../assets/img/mail.png" alt="">
            <img src="../../assets/img/linkedin.png" alt="">
        </div>

    </div>

</section>