<section class="padding-skills">
    <div class="container">
        <div class="even-columns">
            <div class="skill-icons-container">
                <div class="row">
                    <div class="icon-container">
                        <img src="../../assets/img/html.png">
                        <span>HTML</span>
                    </div>
                    <div class="icon-container">
                        <img src="../../assets/img/css.png">
                        <span>CSS</span>
                    </div>
                    <div class="icon-container">
                        <img src="../../assets/img/Javascript.png">
                        <span>JavaScript</span>
                    </div>
                    <div class="icon-container">
                        <img src="../../assets/img/git-about-me.png">
                        <span>GIT</span>
                    </div>
                </div>
                <div class="row">
                    <div class="icon-container">
                        <img src="../../assets/img/Angular.png">
                        <span>Angular</span>
                    </div>
                    <div class="icon-container">
                        <img src="../../assets/img/typescript.png">
                        <span>TypeScript</span>
                    </div>
                    <div class="icon-container">
                        <img src="../../assets/img/scrum.png">
                        <span>Scrum</span>
                    </div>
                    <div class="icon-container"></div>
                </div>
                <div class="row">
                    <div class="icon-container">
                        <img src="../../assets/img/Firebase.png">
                        <span>Firebase</span>
                    </div>

                    <div class="icon-container">
                        <img src="../../assets/img/api.png">
                        <span>Rest-API</span>
                    </div>
                    <div class="icon-container"></div>
                    <div class="icon-container"></div>
                </div>
                <div class="row">
                    <div class="icon-container">
                        <img src="../../assets/img/material.png">
                        <span>Material</span>
                    </div>
                    <div class="icon-container"></div>
                    <div class="icon-container"></div>
                    <div class="icon-container"></div>
                </div>
            </div>
            <div class="skills-content">
                <div class="h1-purple-border-container">
                    <h1>Skills</h1>
                    <div class="skills-line-container">
                        <div class="purple-line"></div>
                    </div>
                </div>
                <p>I have gained experience in building projects <br> with various front end technologies and concepts.
                </p>
                <div>
                    <a href="#contact"><button class="main-button">Get in touch</button></a>
                </div>
            </div>
        </div>
    </div>
</section>