

.skill-icons-container {
    display: flex;
    flex-direction: column;
}

.icons-container-row {
    display: flex;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 110px;
    margin-bottom: 110px;

    img {
        min-width: 60px;
        object-fit: cover;

        &:hover {
            animation: bounce 800ms ease-in-out;
        }
    }

    span {
        font-size: var(--text-size);
        text-align: center;
        font-weight: 700;
    }
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    80% {
        transform: translateY(-15px);
    }
}
