.skills-content {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    justify-content: center;
    margin-right: -10vh;
}

.h1-purple-border-container {
    display: flex;

    h1 {
        margin-right: 42px;
    }

    &.h1-purple-border-container::after {
        display: block;
        content: '';
        width: 389px;
        height: 5px;
        background-color: var(--mainPurple);
        align-self: center;
    }
}

.skill-icons-container {
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
}

.icon-container {
    display: flex;
    width: 100px;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    img {
        max-width: 50px;
        max-height: 50px;
        object-fit: cover;

        &:hover {
            animation: bounce 800ms ease-in-out;
        }
    }

    span {
        font-size: var(--text-size);
        text-align: center;
        font-weight: 700;
    }
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    80% {
        transform: translateY(-15px);
    }
}

.margin-top {
    margin-top: -100px !important;
}