<section class="padding-block-big">
    <div class="container">
        <div class="even-columns">
            <div class="skill-icons-container">
                <div class="icons-container-row">
                    <div class="icon-container">
                        <img src="../../assets/img/html.png">
                        <span>HTML</span>
                    </div>
                    <div class="icon-container">
                        <img src="../../assets/img/css.png">
                        <span>CSS</span>
                    </div>
                    <div class="icon-container">
                        <img src="../../assets/img/Javascript.png">
                        <span>JavaScript</span>
                    </div>
                    <div class="icon-container">
                        <img src="../../assets/img/git-about-me.png">
                        <span>GIT</span>
                    </div>
                </div>
                <div class="icons-container-row">
                    <div class="icon-container">
                        <img src="../../assets/img/Angular.png">
                        <span>Angular</span>
                    </div>
                    <div class="icon-container">
                        <img src="../../assets/img/typescript.png">
                        <span>TypeScript</span>
                    </div>
                    <div class="icon-container">
                        <img src="../../assets/img/scrum.png">
                        <span>Scrum</span>
                    </div>
                </div>
                <div class="icons-container-row">
                    <div class="icon-container">
                        <img src="../../assets/img/Firebase.png">
                        <span>Firebase</span>
                    </div>
                    <div class="icon-container">
                        <img src="../../assets/img/api.png">
                        <span>Rest-API</span>
                    </div>
                </div>
                <div class="icons-container-row">
                    <div class="icon-container">
                        <img src="../../assets/img/material.png">
                        <span>Meterial</span>
                    </div>
                </div> 
            </div>
            <div class="skills-content">
                <div class="h1-purple-border-container">
                    <h1 class="fs-primary-heading fw-bold">Skills</h1>
                </div>
                <p>I have gained experience in building projects with various <br> front end technologies and concepts.
                </p>
                <button class="button">Get in touch</button>
            </div>
        </div>
    </div>
</section>