<section class="padding-bottom">
    <div class="container">
        <img class="purple-shadow-2" src="../../assets/img/purple-shadow-2.png" alt="">
        <div class="container-column">
            <div class="border-h1-container">
                <div class="img-h1-container">
                    <div class="red-line-container">
                        <div class="red-line"></div>
                    </div>
                    <h1>Portfolio</h1>
                </div>
                <p>
                    Here is a sample of my work. You are welcome to scroll down <br> and
                    have a look at recent projects I developed.
                </p>
            </div>

            <div class="projects-container">
                <div class="project">
                    <div class="button-wrapper">
                        <div class="project-buttons">
                            <a href="https://github.com/IljaGG/el_pollo_loco" target="_blank"><button
                                    class="github-btn">Github</button></a>
                            <a href="https://ilja-gg.de/EL_POLLO_LOCO_II/index.html" target="_blank"><button class="live-test-btn">Live test</button></a>
                        </div>
                    </div>
                    <div class="project-info">
                        <h2>El Pollo Loco</h2>
                        <p>
                            "Jump 'n' Run"-Game based on object-oriented approach. Help
                            Pepe to find coins and tobasco bottes to fight the crazy hen.
                        </p>
                        <span>JavaScript | HTML | CSS</span>
                    </div>
                    <div class="project-img-container">
                        <img class="project-img" src="../../assets/img/pollo-loco.png" alt="El pollo loco">
                    </div>
                </div>

                <div class="project">
                    <div class="button-wrapper">
                        <div class="project-buttons">
                            <a href="https://github.com/IljaGG/Join-2" target="_blank"><button class="github-btn">Github</button></a>
                            <a href="https://ilja-gg.de/join/" target="_blank"><button class="live-test-btn">Live test</button></a>
                        </div>
                    </div>
                    <div class="project-info">
                        <h2>Join</h2>
                        <p>
                            Task manager inspired by the Kanban System. Create and
                            organize tasks using drag and drop, assign users and categories.
                        </p>
                        <span>JavaScript | HTML | CSS</span>
                    </div>
                    <div class="project-img-container">
                        <img class="project-img" src="../../assets/img/join.png" alt="El pollo loco">
                    </div>
                </div>

                <div class="project">
                    <div class="button-wrapper">
                        <div class="project-buttons">
                            <a href="https://github.com/IljaGG/Pokedex" target="_blank"><button class="github-btn">Github</button></a>
                            <a href="https://ilja-gg.de/Pokedex/" target="_blank"><button class="live-test-btn">Live test</button></a>
                        </div>
                    </div>
                    <div class="project-info">
                        <h2>Pokédex</h2>
                        <p>
                            Based on the PokéAPI a simple library that provides and catalogues pokemon information.
                        </p>
                        <span>JavaScript | HTML | CSS</span>
                    </div>
                    <div class="project-img-container">
                        <img class="project-img" src="../../assets/img/pokedex.png" alt="El pollo loco">
                    </div>
                </div>

                <div class="project">
                    <div class="button-wrapper">
                        <div class="project-buttons">
                            <a href="https://github.com/IljaGG/ringoffire" target="_blank"><button class="github-btn">Github</button></a>
                            <a href="https://ilja-gg.de/ringoffire/" target="_blank"><button class="live-test-btn">Live test</button></a>
                        </div>
                    </div>
                    <div class="project-info">
                        <h2>Ring of Fire</h2>
                        <p>
                            A popular drinking game. Choose a card from the card stack and implement what appears to you in the text.
                        </p>
                        <span class="small-span">Angular | TypeScript | HTML | SCSS | Firebase</span>
                    </div>
                    <div class="project-img-container">
                        <img class="project-img" src="../../assets/img/ringoffire.png" alt="El pollo loco">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>