<section class="padding-block-big">
    <div class="container">
        <div class="border-h1-container">
            <h1 class="fs-primary-heading fw-bold">Portfolio</h1>
        </div>
        <p>
            Here is a sample of my work. You are welcome to scroll down <br> and
            have a look at recent projects I developed.
        </p>
        <!--
        <div class="projects-container">
            <div class="project">
                <div class="button-wrapper">
                    <div class="project-buttons">
                        <button class="github-btn">Github</button>
                        <button class="live-test-btn">Live test</button>
                    </div>
                </div>
                <div class="project-info">
                    <h2>El Pollo Loco</h2>
                    <p>
                        "Jump 'n' Run"-Game based on object-oriented approach. Help
                        Pepe to find coins and tobasco bottes to fight the crazy hen.
                    </p>
                    <span>JavaScript | HTML | CSS</span>
                </div>
                <img class="project-img" src="../../assets/img/pollo-loco.png" alt="El pollo loco">
            </div>

            <div class="project">
                <div class="button-wrapper">
                    <div class="project-buttons">
                        <button class="github-btn">Github</button>
                        <button class="live-test-btn">Live test</button>
                    </div>
                </div>
                <div class="project-info">
                    <h2>Join</h2>
                    <p>
                        Task manager inspired by the Kanban System. Create and
                        organize tasks using drag and drop, assign users and categories.
                    </p>
                    <span>JavaScript | HTML | CSS</span>
                </div>
                <img class="project-img" src="../../assets/img/join.png" alt="Join">
            </div>

            <div class="project">
                <div class="button-wrapper">
                    <div class="project-buttons">
                        <button class="github-btn">Github</button>
                        <button class="live-test-btn">Live test</button>
                    </div>
                </div>
                <div class="project-info">
                    <h2>El Pollo Loco</h2>
                    <p>
                        "Jump 'n' Run"-Game based on object-oriented approach. Help
                        Pepe to find coins and tobasco bottes to fight the crazy hen.
                    </p>
                    <span>JavaScript | HTML | CSS</span>
                </div>
                <img class="project-img" src="../../assets/img/pollo-loco.png" alt="El pollo loco">
            </div>

            <div class="project">
                <div class="button-wrapper">
                    <div class="project-buttons">
                        <button class="github-btn">Github</button>
                        <button class="live-test-btn">Live test</button>
                    </div>
                </div>
                <div class="project-info">
                    <h2>Join</h2>
                    <p>
                        Task manager inspired by the Kanban System. Create and
                        organize tasks using drag and drop, assign users and categories.
                    </p>
                    <span>JavaScript | HTML | CSS</span>
                </div>
                <img class="project-img" src="../../assets/img/join.png" alt="Join">
            </div>
        </div>
    -->
    </div>
</section>