.impressum-container {
    padding-top: 180px;
    display: flex;
    position: relative;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    background-color: var(--mainDark);
    overflow-x: clip;
}
