@font-face {
    font-family: Poppins;
    src: url(assets/fonts/poppins-v20-latin-100.woff);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(assets/fonts/poppins-v20-latin-regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(assets/fonts/poppins-v20-latin-700.woff);
    font-weight: 700;
    font-style: normal;
}


/* fixed colors*/
:root {
    --mainDark: #141D2F;
    --mainDarkTransparent: #141d2fe6;
    --mainOrange: #E86F00;
    --mainLightOrange: #FA7902;
    --mainRed: #FF4747;
    --mainPurple: #D61CE6;
    --mainWhite: white;

    --ff-primary: 'Poppins', sans-serif;

    --fw-small: 100;
    --fw-regular: 400;
    --fw-bold: 700;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}


/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a {
    text-decoration: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: var(--mainDark);
    color: var(--mainWhite);
}

h1 {
    display:inline;
    font-size: clamp(45px, 10vw, 90px);
    font-weight: var(--fw-bold);
    margin: 26px 0;
    line-height: 75px;
}

p {
    margin: 26px 0;
}

ul {
    list-style-type: none; 
}

section {
    display: flex;
    position: relative;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 90%;
    max-width: 1200px;
    margin: 120px 0;
}

.even-columns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.main-button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 23px;
    font-weight: var(--fw-regular);
    color: var(--mainWhite);
    background-color: var(--mainOrange);
    transition: 300ms;

    &:hover {
        transform: scale(1.1);
        background-color: var(--mainRed);
    }
}

.mainHeadline {
    font-size: var(--fw-mainHeadline);
    font-weight: var(--fw-bold);
}